@use "global" as *;

.catalog__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(45);
    @include mq(md){
        max-width: rem(1115);
        padding: 0 rem(25);
    }
}

.catalog__title{
    text-align: center;
}

.catalog__title-en{
    font-family: $baskervville;
    font-size: rem(58);
    @include mq(md){
        font-size: rem(98);
    }
}

.catalog__title-jp{
    font-family: $toppan;
    font-size: rem(18);
    font-weight: $bold;
    text-align: left;
    line-height: 2;
    @include mq(md){
        text-align: center;
        font-size: rem(24);
    }
}

.catalog__list{
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(66);
    }
}