@use "global" as *;

.catalog__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(45);
    @include mq(md){
        max-width: rem(1115);
        padding: 0 rem(25);
    }
}

.catalog__list{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(76);
    }
}