@use 'global' as *;

.company-cards{
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.company-cards__item {
    background-color: $white;
    display: flex; /* 追加 */
    flex-direction: column; /* 追加 */
    justify-content: space-between; /* 追加 */
    @include mq(md) {
        max-width: calc(50% - 3.75rem * 1 / 2);
        width: 100%;
    }
}

.company-cards__item + .company-cards__item{
    margin-top: rem(40);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(60);
    }
}

/* 枚数が増えたときのための処理 */
.company-cards__item:nth-child(2n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.company-cards__item:nth-child(n + 3){
    @include mq(md){
        margin-top: 2.5rem;
    }
}
