@use "global" as *;

.company{
    background-color: #F7F7F7;
    padding-top: rem(94);
    text-align: center;
}

.company__title{
    background-image: url(../images/common/company-title-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(8.5) 0;
    @include mq(md){
        background-image: url(../images/common/company-title.png);
        padding: rem(13) 0;
    }
}

.company__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md){
        max-width: rem(870);
    }
}

.company__list{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(80);
    }
}