@use "global" as *;

.contents {
    text-align: center;
    background-color: #F7F7F7;
    padding: rem(40) 0;
    @include mq(md){
        margin-top: rem(-40);
        padding: 0;
    }
}

.contents__bg {
    background-image: url(../images/common/contents-bg-sp.png);
    background-position: center calc(50% - 242px); /* 画像を上に10px移動 */
    background-repeat: no-repeat;
    background-size: rem(320) rem(60);
    @include mq(md){
        background-image: url(../images/common/contents-bg.png);
        background-position: center calc(50% - 30px); /* 画像を上に10px移動 */
        background-repeat: no-repeat;
        background-size: contain;
        max-width: rem(1350);
        margin: auto;
    }
}

.contents__inner {
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md){
        max-width: rem(1060);
    }
}

.contents__flex {
    @include mq(md){
        display: flex;
        align-items: center;
        padding: rem(134) 0 rem(158);
        gap: 0 rem(144);
    }
}

.contents__title {
    font-family: $baskervville;
    text-transform: capitalize;
    font-size: rem(42);
    font-weight: $regular;
    @include mq(md){
        font-size: rem(98);
    }
}

.contents__list {
    text-align: center;
    margin-top: rem(24);
    @include mq(md) {
        margin: 0 auto;
    }
}

.contents__item {
    display: flex;
    justify-content: center;
}

.contents__item + .contents__item {
    margin-top: rem(10);
    @include mq(md){
        margin-top: rem(22);
    }
}





.contents__button {
    text-align: center;
    background: $white;
    position: relative;
    color: $black;
    font-size: rem(14);
    font-weight: bold;
    width: rem(340);
    padding: rem(18) 0;
    z-index: 1;
    overflow: hidden;
    border: none; /* ボーダーを削除 */
    box-shadow: inset 0 0 0 1px transparent; /* 初期状態で透明なボックスシャドウを設定 */
    transition: background-color 0.7s, box-shadow 0.7s; /* ボーダーの代わりにボックスシャドウを使用 */
    @include mq(md) {
        width: rem(480);
        padding: rem(25.5) 0;
        font-size: rem(18);
    }
}

.contents__button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $red;
    opacity: 0;
    transition: opacity 0.7s ease; /* 背景色のアニメーションをopacityで設定 */
}

.contents__button:hover span {
    color: $white;
}

.contents__button:hover {
    box-shadow: inset 0 0 0 1px $red; /* ボーダーの代わりに赤いボックスシャドウを表示 */
}

.contents__button:hover::before {
    opacity: 1; /* 背景色をホバー状態で表示 */
}

.contents__button a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.contents__button span::after {
    background-image: url(../images/common/contents-arrow-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 50%;
    right: rem(32);
    width: rem(19);
    height: rem(14);
    transform: translateY(-50%);
    transition: background-image 0.7s, transform 0.7s;
}

.contents__button:hover span::after {
    background-image: url(../images/common/contents-arrow-white.png);
}

.contents__item:first-child .contents__button {
    color: $white;
    box-shadow: inset 0 0 0 1px $red; /* 初期状態で赤いボックスシャドウを表示 */
}

.contents__item:first-child .contents__button::before {
    opacity: 1; /* 初期状態の背景色を赤に */
}

.contents__button.reset-initial {
    color: $black !important;
    box-shadow: inset 0 0 0 0 transparent !important;
}

.contents__button.reset-initial::before {
    opacity: 0 !important;
}

.contents__item:first-child .contents__button span::after {
    background-image: url(../images/common/contents-arrow-white.png);
    transition: 0.7s background-color;
}

.contents__item:first-child .contents__button.reset-initial {
    color: $black !important;
}

.contents__item:first-child .contents__button.reset-initial span::after {
    background-image: url(../images/common/contents-arrow-black.png) !important;
}

.contents__button:hover .contents__item:first-child .contents__button.reset-initial {
    color: $black !important;
}

.contents__button:hover .contents__item:first-child .contents__button.reset-initial span::after {
    background-image: url(../images/common/contents-arrow-black.png) !important;
}

.contents__item:first-child .contents__button.reset-initial:hover {
    color: $white !important;
    box-shadow: inset 0 0 0 1px $red !important;
}

.contents__item:first-child .contents__button.reset-initial:hover span::after {
    background-image: url(../images/common/contents-arrow-white.png) !important;
}
