@use "global" as *;

.contract__inner{
    max-width: $max-width;
    margin: auto;
    @include mq(md){
        max-width: rem(1230);
        padding: 0 rem(25);
    }
}

.contract__head{
    line-height: 1.75;
    padding: 0 rem(25);
    @include mq(md){
        padding: 0;
        margin-top: rem(40);
    }
}

.contract__head-text{
    font-size: rem(16);
    @include mq(md){
        font-size: rem(18);
    }
}

.contract__head-text + .contract__head-text{
    margin-top: rem(20);
    @include mq(md){
        margin-top: 0;
    }
}

.contract__bottom,
.contract__bottom-sp{
    margin-top:rem(20) ;
    font-size: rem(16);
    @include mq(md){
        margin-top: rem(80);
        font-size: rem(18);
    }
}

.contract__bottom-sp{
    padding: 0 rem(25);
    @include mq(md){
        padding: 0;
    }
}


.contract__bottom-text + .contract__bottom-text,
.contract__bottom-sp-text + .contract__bottom-sp-text{
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(30);
        line-height: 2;
    }
}

.contract__table{
    margin-top: rem(20);
    @include mq(md){
        margin-top: rem(80);
    }
}

.contract__span-red {
    color: $red;
    font-weight: $bold;

}

.contract__span-font{
    color: $red;
    font-weight: $bold;
    font-size: rem(18);
    @include mq(md) {
        font-size: rem(20);
    }
}

.contract__span-pink{
    background-color: $pink;
    font-weight: $bold;
}

.contract__link{
    text-align: center;
    margin-top: rem(61);
    font-size: rem(16);
    font-weight: $semiBold;
    line-height: calc(26/18);
    text-decoration: underline;
    @include mq(md) {
        font-size: rem(18);
        line-height: calc(40/18);
    }
}

.contract__link a:hover{
    transition: 0.5s;
    opacity: 0.5;
}