@use "global" as *;

.estate-pc__list{
    margin-top: rem(54.5);
}

.estate-pc__item{
    background-image: url(../images/common/estate-pc-bg-local.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90.97%;
    position: relative;
    z-index: 1;
}

.estate-pc__item--big{
    background-image: url(../images/common/estate-pc-bg-big.png);
    margin-left: auto;
}

.estate-pc__item + .estate-pc__item{
    margin-top: rem(40);
}

.estate-pc__logo{
    font-family: $baskervville;
    font-size: rem(98);
    font-weight: $regular;
    text-transform: capitalize;
    position: absolute;
    top: -5%;
}

.estate-pc__logo--big{
    top: -5%;
    right: 0;
}

.estate-pc__flex{
    display: flex;
    align-items: center;
    gap: 0 rem(60);
    max-width: rem(1210);
    margin: auto;
    padding: rem(36.5) rem(30) rem(68);
    justify-content: flex-end;
}

.estate-pc__flex--big{
    justify-content: flex-start;
}

.estate-pc__img{
    width: 24.36%;
    position: relative;
    z-index: 100;
    @include mq(md) {
        margin-top: rem(24);
    }
}

.estate-pc__sentence{
    width: 66.1%;
}

.estate-pc__title{
    font-family: $toppan;
    font-size: rem(36);
    font-weight: $bold;
}

.estate-pc__text{
    margin-top: rem(25);
    font-size: rem(18);
    line-height: 2.2;
}

.estate-pc__bottom{
    max-width: rem(1230);
    margin: rem(80) auto auto auto;
    padding: 0 rem(25);
}

.estate-pc__bottom-text{
    font-size: rem(18);
    letter-spacing: 0.04em;
    line-height: 2.2;
    color: $black;
}

.estate-pc__link{
    margin-top: rem(31.5);
    font-size: rem(18);
    font-weight: $semiBold;
    line-height: calc(40/18);
    text-decoration: underline;
}

.estate-pc__link--margin{
    margin-top: rem(54.5);
}