@use "global" as *;

.flow{
    margin: rem(20) auto auto auto;
    @include mq(md){
        max-width: rem(1440);
        margin: rem(100) auto auto auto;
    }
}

.flow__heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flow__line {
    flex-grow: 1;
    border: none;
    border-top: 1px solid black;
    margin-right: rem(18);
    @include mq(md){
        margin-right:rem(40);
    }
}

.flow__heading-text {
    font-family:$baskervville ;
    font-size: rem(58);
    @include mq(md){
        font-size: rem(98);
    }
}

.flow__inner{
    max-width: $max-width;
    margin: auto;
    @include mq(md){
        max-width: rem(1230);
        padding: 0 rem(25);
    }
}

.flow__head{
    margin-top: rem(20);
    padding: 0 rem(25);
    @include mq(md){
        margin-top: rem(40);
        padding: 0;
    }
}

.flow__head-text{
    font-size: rem(16);
    line-height: calc(40/18);
    @include mq(md){
        font-size: rem(18);
    }
}

.flow__list{
    margin-top: rem(20);
    padding: rem(20) rem(36) rem(40);
    text-align: center;
    background-image: url(../images/common/flow-list-bg-sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include mq(md){
        margin-top: rem(40);
        padding: rem(45) rem(71);
        background-image: url(../images/common/flow-list-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
    }
}

.flow__link{
    text-align: center;
    margin-top: rem(61);
    font-size: rem(18);
    font-weight: $semiBold;
    line-height: calc(40/18);
    text-decoration: underline;
}

.flow__link a:hover{
    transition: 0.5s;
    opacity: 0.5;
}