@use "global" as *;

.recommendation-title__jp {
    text-align: center;
    color: $red;
    font-family: $toppan;
    font-size: rem(20);
    font-weight: $bold;

    @include mq(md) {
        font-size: rem(24);
        white-space: nowrap; // h3 に nowrap を適用
    }
}

