@use "global" as *;

.recommendation{
    text-align: center;
    max-width: rem(1440);
    margin: rem(40) auto auto auto;
    background-color: #f7f7f7;
}

.recommendation__container{
    display: flex;
}

.recommendation__content{
    width: 100%;
    @include mq(md){
        width: 83.333%;
    }
}

.recommendation__inner{
    max-width: $max-width;
    margin: auto;
    padding:  0 rem(25);
    @include mq(md){
        max-width: rem(1073);
    }
}

.recommendation__item{
    padding-bottom:rem(40) ;
    border-bottom: solid 1px #494949 ;
    @include mq(md){
        padding-bottom:rem(100) ;
    }
}

.recommendation__name {
    margin-top: rem(41.34);
    position: relative;
    @include mq(md){
        margin-top: rem(102);
    }
}

.recommendation__name-en {
    font-family: $baskervville;
    font-size: rem(52);
    color: $red;
    font-weight: $regular;
    @include mq(md){
        font-size: rem(98);
        line-height: 1.25;
    }
}

.recommendation__name-jp {
    font-family: $toppan;
    font-size: rem(18);
    font-weight: $bold;
    @include mq(md){
        font-size: rem(36);
        line-height: 1.25;
    }
}

.recommendation__name-number {
    width: rem(113);
    height: rem(164);
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq(md){
        top: 24%;
        left: 50%;    
        width: rem(311);
        height: rem(284);
    }
}

.recommendation__name-number--top{
    width: rem(113);
    height: rem(164);
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq(md){
        top: 35%;
        left: 50%;    
        width: rem(311);
        height: rem(284);
    }
}


.recommendation__name-text{
    margin-top: rem(20);
    font-family: $toppan;
    font-size: rem(20);
    font-weight: $bold;
    letter-spacing: 0.053m;
    color: $red;
    @include mq(md){
        margin-top: rem(40);
        font-size: rem(36);
        letter-spacing: 0.05em;
    }
}


.recommendation__flex{
    margin-top: rem(20);
    @include mq(md){
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 rem(81);
        margin-top: rem(51);
    }
}

.recommendation__logo-img{
    width: rem(200);
    height: rem(200);
    margin: auto;
    @include mq(md){
        width: rem(200);
    }
}

.recommendation__logo-img img {
    aspect-ratio: 200/200;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommendation__logo-source{
    display: flex;
    justify-content: center;
    font-size: rem(12);
    margin-top: rem(10);
}

.recommendation__logo-source-text{
    text-decoration: underline;
}

.recommendation__logo-source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}

.recommendation__explanation{
    text-align: left;
    width: 100%;
    margin-top: rem(32);
    padding-left: rem(7);
    @include mq(md){
        width: 57.57%;
        margin-top: rem(0);
        padding: 0;
    }
}

.recommendation__explanation-text{
    font-family: $toppan;
    font-size: rem(16);
    font-weight: $bold;
    background-color: $red;
    color: $white;
    padding: rem(1.5) rem(12) rem(1.5) 0;
    display: inline-block;
    @include mq(md){
        padding: rem(1.5) rem(12) rem(1.5);
        font-size: rem(36);
    }
}

.recommendation__explanation-text + .recommendation__explanation-text{
    margin-top: rem(4);
    @include mq(md){
        margin-top: rem(10);
    }
}

.recommendation__textBox-pc{
    margin-top: rem(40);
}

.recommendation__text-pc{
    text-align: left;
    padding: 0 rem(30);
    font-size: rem(18);
    letter-spacing: 0.04em;
    line-height: 2.2;
}

.recommendation__text-pc span, 
.recommendation__text-sp span{
    font-weight: $bold;
}

.recommendation__textBox-sp{
    margin-top: rem(32);
}

.recommendation__text-sp{
    text-align: left;
    font-size: rem(16);
}

.recommendation__text-sp + .recommendation__text-sp{
    margin-top: rem(20);
}







/*ボタン（赤）*/
.recommendation__buttons {
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(54);
    }
}

.recommendation__button + .recommendation__button{
    margin-top: rem(20);
}

.recommendation__button {
    background: $red;
    border: solid 1px $red ;
    position: relative;
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    width: rem(340);
    padding: rem(12) 0;
    letter-spacing: 0.04em;
    border-radius: rem(4);
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    @include mq(md){
        font-size: rem(18);
        padding: rem(15.5) 0;
        width: rem(780);
    }
}

.recommendation__button::before {
    border-radius: rem(4);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease 0.4s;
}

.recommendation__button::after{
    border-radius: rem(0);
    transition: all 0.4s ease-in-out;
}

.recommendation__button:hover span {
    color: $red;
}   

.recommendation__button:hover {
    border: solid 1px $red ;
}

.recommendation__button:hover::before {
    transform-origin: 0% 50%;
    transform: scale(1, 1);
}

.recommendation__button a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.recommendation__button span::after {
	background-image: url(../images/common/company-arrow-white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(32);
    width: rem(20);
	height: rem(20);
	transform: translateY(-50%);
	transition: 0.4s background-color;
}

.recommendation__button:hover span::after {
    background-image: url(../images/common/company-arrow-red.png);
}



/*ボタン（黒）*/
.recommendation__button--black {
    background: $black;
    border: solid 1px $black ;
    position: relative;
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    width: rem(340);
    padding: rem(9) 0;
    border-radius: rem(4);
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    @include mq(md){
        font-size: rem(18);
        padding: rem(15.5) 0;
        width: rem(780);
    }
}

.recommendation__button--black::before {
    border-radius: rem(4);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform ease 0.4s;
}

.recommendation__button--black::after{
    border-radius: rem(0);
    transition: all 0.4s ease-in-out;
}

.recommendation__button--black:hover span {
    color: $black;
}   

.recommendation__button--black:hover {
    border: solid 1px $black ;
}

.recommendation__button--black:hover::before {
    transform-origin: 0% 50%;
    transform: scale(1, 1);
}

.recommendation__button--black a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.recommendation__button--black span::after {
	background-image: url(../images/common/company-arrow-white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 50%;
    right: rem(32);
    width: rem(20);
	height: rem(20);
	transform: translateY(-50%);
	transition: 0.4s background-color;
}

.recommendation__button--black:hover span::after {
    background-image: url(../images/common/company-arrow-black.png);
    right: rem(28);
    width: rem(28);
	height: rem(28);
}




/*特徴*/
.recommendation__features{
    text-align: left;
    margin-top: rem(40);
    padding: rem(23) 0 rem(17);
    font-weight: $bold;
    background-color: $white;
    @include mq(md){
        padding: rem(40) 0 0 0;
        margin-top: rem(97);
    }
}

.recommendation__features--margin{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(160);
    }
}

.recommendation__features-list{
    max-width: rem(280);
    margin: rem(20) auto auto auto;
    @include mq(md){
        max-width: 100%;
        margin: 0;
    }
}

.recommendation__features-item{
    text-align: left;
    @include mq(md){
        display: flex;
        align-items: center;
    }
}
.recommendation__features-item {
    @include mq(md){
        border-bottom: 1px solid #DADADA;
        padding: rem(40) 0;
    }
}

.recommendation__features-item:last-child {
    border-bottom: none;
}

.recommendation__features-item + .recommendation__features-item{
    margin-top: rem(30);
    @include mq(md){
        margin-top: 0;
    }
}

.recommendation__features-item dt {
    width: 100%;
    font-weight: $bold;
    @include mq(md){
        font-size: rem(20);
        width: 31%;
        padding-left: rem(53);
    }
}

.recommendation__features-img{
    width: rem(260);
    margin: rem(15) auto auto auto;
    @include mq(md){
        margin: 0;
        width: rem(600);
        height: rem(120);
    }
}

.recommendation__features-text{
    line-height: 2;
    font-weight: $bold;
    margin-top: rem(6);
    @include mq(md){
        line-height: 2.2;
        margin-top: 0;
        font-size: rem(18);
    }
}




/*売却実績*/
.recommendation__achievements{
    max-width: rem(890);
    width: calc(100% + rem(50));
    margin: rem(40) auto auto rem(-25);
    padding: 0  0 0 rem(25);
    @include mq(md){
        margin: rem(63) auto auto auto;
        padding: 0 rem(25); // メディアクエリ内のpaddingを維持
    }
}

.recommendation__achievements-wrapper{
    overflow-x: auto; /* 横スクロールを有効にする */
}

.recommendation__achievements-box {
    width: 100%;
    border-collapse: collapse;
    margin-top: rem(20);
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: rem(14);
    font-weight: $bold;
    min-width: rem(630); /* 最小幅を設定してスクロール可能にする */
    @include mq(md){
        letter-spacing: 0.18em;
    }
}


.recommendation__achievements-box thead th {
    background-color: $red;
    color: $white;
    padding: rem(8);
    border: 1px solid #828282;
}

.recommendation__achievements-box tbody td {
    padding: rem(8);
    border: 1px solid #828282;
}

.recommendation__achievements-box tbody tr:nth-child(even) {
    background-color: $white;
}

.recommendation__achievements-box tbody tr:nth-child(odd) {
    background-color: $white;
}





/*口コミ*/
.recommendation__reviews{
    margin-top: rem(40);
    padding: rem(20) rem(30) rem(40);
    background-color: $white;
    @include mq(md){
        margin-top: rem(80);
        padding: rem(40) rem(28);
    }
}

.recommendation__reviews-wrapper{
    border: solid 1px #7D7D7D ;
    border-radius: rem(4);
    margin-top: rem(18);
    padding: rem(40) rem(18) rem(10); 
    @include mq(md){
        padding: rem(101) rem(40) rem(20); 
    }
}

.recommendation__reviews-flex{
    @include mq(md){
        display: flex;
        align-items: flex-start;
        gap: 0 rem(86);
    }
}

.recommendation__reviews-img{
    width: 58.7%;
    margin: auto;
    border: solid 1px  #231815;
    border-radius: 50%;
    @include mq(md){
        width: 22.85%;
    }    
}

.recommendation__reviews-img img {
    aspect-ratio: 140/140;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md){
        aspect-ratio: 200/200;
    }
}


.recommendation__reviews-text{
    text-align: left;
    width: 64.52%;
    font-size: rem(18);
    letter-spacing: 0.04em;
    line-height: 2.2;
}

.recommendation__reviews-textBox{
    text-align: left;
    margin-top: rem(20);
    line-height: 1.25;
}

.recommendation__reviews-text-sp + .recommendation__reviews-text-sp{
    margin-top: rem(20);
}

.recommendation__reviews-source{
    margin-top: rem(46);
    display: flex;
    justify-content: center;
    font-size: rem(13);
    color: #7D7D7D;
    @include mq(md){
        margin-top: rem(23);
        justify-content: flex-end;
    }
}

.recommendation__reviews-source-text{
    text-decoration: underline;
}

.recommendation__reviews-source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}




/*ボタン（口コミの下）*/
.recommendation__reviews-buttons {
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(80);
    }
}





/*会社概要*/
.recommendation__overview {
    max-width: rem(834);
    width: calc(100% + rem(50));
    margin: rem(28) auto auto rem(-25);
    padding: 0  0 0 rem(25);

    @include mq(md) {
        margin: rem(80) auto auto auto;
        padding: 0 rem(25); // メディアクエリ内のpaddingを維持
    }
}

.recommendation__overview--margin{
    margin: rem(28) auto auto rem(-25);
    @include mq(md){
        margin: rem(160) auto auto auto;
    }
}


.recommendation__overview-wrapper {
    overflow-x: auto; /* 横スクロールを可能にする */
}

.recommendation__overview-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: rem(20);
    font-family: "Inter", sans-serif;
    font-size: rem(14);
    font-weight: $regular;
    min-width: rem(600); /* 最小幅を設定してスクロール可能にする */
    @include mq(md){
        margin-top: rem(40);
    }
}

.recommendation__overview-table th, 
.recommendation__overview-table td {
    border: 1px solid #828282; /* セルの境界線 */
    font-weight: $regular;
}

.recommendation__overview-table th {
    background-color: #333; /* 左側の背景色 */
    color: #fff; /* 文字色を白に */
    width: 15.03%; /* 左側の幅を指定 */
    text-align: center; /* 左揃え */
    vertical-align: center; /* 上部揃え */
    letter-spacing: 0.18em;
    padding: rem(10) 0;
    @include mq(md){
        width: 26.5%; /* 左側の幅を指定 */
    }
}

.recommendation__overview-table td {
    background-color: #fff; /* 右側の背景色 */
    color: $black; /* 文字色を黒に */
    text-align: left; /* 左揃え */
    vertical-align: top; /* 上部揃え */
    padding: rem(10) 0 rem(10) rem(53);
}

.recommendation__overview-table a {
    color:$black; /* リンクの文字色 */
    text-decoration: none; /* リンクの下線を消す */
}

.recommendation__overview-table a:hover {
    text-decoration: underline; /* リンクにホバーしたときの下線 */
}






/*ボタン（会社概要の下）*/
.recommendation__overview-buttons{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(69);
    }
}



/*リンク    */
.recommendation__link-source{
    margin-top: rem(20);
    display: flex;
    justify-content: center;
    gap: 0 rem(2);
    font-size: rem(14);
    color: #0C7DBD;
    @include mq(md){
        margin-top: rem(40);
        font-size: rem(18);
        letter-spacing: 0.04em;
        gap: 0 rem(10);
    }
}

.recommendation__link-img{
    width: rem(22);
    height: rem(22);
    @include mq(md){
        margin-top: rem(1.5);
        width: rem(26);
        height: rem(26);
    }
}

.recommendation__link-source-text{
    text-decoration: underline;
    
}

.recommendation__link-source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}







/*サイドバー*/
.recommendation__sidebar{
    width: 16.6666%;
}