@use "global" as *;

.sidebar{
    background-color: #F2F2F2;
}

.sidebar__buttons {
    text-align: center;
}

.sidebar__button {
    font-family: $toppan;
    background: $white;
    border: solid 1px $red ;
    color: $red;
    font-size: rem(14);
    font-weight: $bold;
    width: rem(200);    
    margin-top: rem(20);
    padding: rem(18) 0;
    z-index: 1;
}

.sidebar__button:hover{
    background: $red;
    color: $white;
    transition: 0.4s;
}